@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --secondary-accent-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --auxilliary-bg-color: #e5e5e5;
  --social-links-bg: #afb1b8;
  --main-font: Roboto, san-serif;
  --secondary-font: Raleway, san-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Палитра цветов */
/* основной цвет текста #212121; */
/* вторичный цвет текста #757575; */
/* основной акцент #2196F3; */
/* вторичный акцент #000000; */
/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #F5F4FA; */
/* цвет фона героя и футера #2F303A; */
/* цвет текста адреса в футете rgba(255, 255, 255, 0.6); */
/* дополнительный цвет фона в карточке #E5E5E5 */
/* цвет фона части карточки с проектами #EEEEEE; */
/* цвет фона иконки соцсетей #AFB1B8 */
/* цвет фона иконки соцсетей в футере rgba(255, 255, 255, 0.1); */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  max-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
  padding: 10px 32px;
  margin: 0 auto;
}

.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .button.secondary:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
  }
}

.logo-text {
  color: var(--secondary-accent-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav .logo-text:hover,
.site-nav .logo-text:focus {
  color: var(--accent-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .site-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list-item {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav.list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .site-nav.list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav .current.link {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .site-nav .current.link {
    position: relative;
  }
}

.site-nav .current.link::after {
  position: absolute;
  opacity: 1;
  content: "";
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 8px;
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header-address.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-address .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .header-address .link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header-address .link {
    font-size: 14px;
    line-height: 1.17;
  }
}

.header-address .link:hover, .header-address .link:focus {
  color: var(--accent-color);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-icon {
    margin-right: 8px;
    width: 14px;
    height: 12px;
  }
}

.mail-icon:hover, .mail-icon:focus {
  fill: var(--accent-color);
}

.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-icon {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

.phone-icon:hover, .phone-icon:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .header-address-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.filters-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters-list.list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list.list {
    margin-bottom: 50px;
  }
}

.filters-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  background-color: var(--primary-white-color);
}

.projects-types.container {
  margin: 0 auto;
  width: 100%;
}

.projects-types.list {
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .projects-types.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects-types-item {
  width: 100%;
}

.projects-types-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects-types-item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .projects-types-item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .projects-types-item {
    width: 370px;
  }
}

.projects-types-link {
  display: block;
  text-decoration: none;
}

.projects-types-link:hover, .projects-types-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-type {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-description {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card {
  width: 100%;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card.special {
    padding-bottom: 56px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-types-link:hover .overlay,
.projects-types-link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social-links.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-links-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-links-link:hover, .social-links-link:focus {
  background-color: var(--accent-color);
}

.footer .social-links-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-links-link:hover,
.footer .social-links-link:focus {
  background-color: var(--accent-color);
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-links-bg);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social-links-link:hover .social-links-icon,
.social-links-link:focus .social-links-icon {
  fill: var(--primary-white-color);
}

.footer .social-links-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.social-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-end {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-end {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-address-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-address-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}

.footer-address a {
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-address-link,
.mail-link,
.tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--primary-white-color);
}

.mail-link,
.tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.call-to-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-form.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
}

.footer-form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

.email-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 480px) {
  .email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-input {
    margin-right: 12px;
    width: 358px;
  }
}

.email-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-input:not(:placeholder-shown) {
  background-color: var(--primary-white-color);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.menu-button:focus, .menu-button:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    background-color: var(--primary-white-color);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    z-index: 100;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
  }
}
/*# sourceMappingURL=portfolio.css.map */