.clients-list.list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
  margin-left: auto;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-links-bg);
  border-radius: 4px;
  fill: var(--social-links-bg);
  transition: border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.client-icon {
  transition: fill 250ms var(--timing-function);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
