.clients-list.list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients-list-item {
  display: flex;
  width: 100%;
  height: 90px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: unset;
    }
    width: 210px;
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-links-bg);
  border-radius: 4px;
  fill: var(--social-links-bg);
  transition: border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.client-icon {
  transition: fill 250ms var(--timing-function);
  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
