.team.section {
  background-color: var(--secondary-bg-color);

  & .section-title {
    background-color: var(--secondary-bg-color);
  }
}

.team-list.list {
  background-color: var(--secondary-bg-color);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.employee-name {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.position {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list-content-wrapper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: unset;
    }
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
