.footer-address-list {
  display: flex;
  flex-direction: column;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}

.footer-address a {
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.footer-address-link,
.mail-link,
.tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--primary-white-color);
}

.mail-link,
.tel-link {
  color: rgba(255, 255, 255, 0.6);
}
