.logo {
  color: var(--accent-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-decoration: none;

  @media screen and (min-width: 768px) {
    .header & {
      margin-right: 88px;
    }
  }

  @media screen and (min-width: 1200px) {
    .header & {
      font-size: 26px;
      margin-right: 93px;
    }
  }

  .footer & {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &-footer {
    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }
}

.logo-text {
  color: var(--secondary-accent-color);

  transition: color 250ms var(--timing-function);

  .site-nav &:hover,
  .site-nav &:focus {
    color: var(--accent-color);
  }
}
