.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transition: transform 250ms linear;
  transform: translateY(100%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-types-link:hover .overlay,
.projects-types-link:focus .overlay {
  transform: translateY(0%);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
