:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --secondary-accent-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --auxilliary-bg-color: #e5e5e5;
  --social-links-bg: #afb1b8;

  --main-font: Roboto, san-serif;
  --secondary-font: Raleway, san-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Палитра цветов */

/* основной цвет текста #212121; */

/* вторичный цвет текста #757575; */

/* основной акцент #2196F3; */

/* вторичный акцент #000000; */

/* основной цвет фона #FFFFFF; */

/* вторичный цвет фона #F5F4FA; */

/* цвет фона героя и футера #2F303A; */

/* цвет текста адреса в футете rgba(255, 255, 255, 0.6); */

/* дополнительный цвет фона в карточке #E5E5E5 */

/* цвет фона части карточки с проектами #EEEEEE; */

/* цвет фона иконки соцсетей #AFB1B8 */

/* цвет фона иконки соцсетей в футере rgba(255, 255, 255, 0.1); */
